* {
	font-size: small;
	font-family: Verdana， Helvetica， Arial;
	line-height: 1.6em;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
color: black;
	font-size: 1.3em;
}

div h2{
	color: black;

}


p#footer{
	font-size: 0.8vw;
}
p.guarantee{
	font-size: 0.8vw;
}

.guarantee {
	border: 1px dashed white;
  background-color:    #a7cece;
  padding:             25px; 
  margin:              30px;
	line-height: 1.9em;
	font-style: italic;
	color: #444444;
	font-family: Georgia, 'Times New Roman';
	background-image: url(background.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 25px;
	padding-left: 80px;
	margin-right: 250px;

}

.elixirs{
	border: thin solid #007e7e;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding: 20px;
	margin-left: 20px;
	background-image: url(images/cocktail.gif);
	background-repeat: repeat-x;
	text-align: center;
	line-height: 1;
	width: 200px;
	float: right;
}

a {
	color: red;
}

a:link {
	color: green;
}

a:visited {
	color: red;
}

a:hover {
	color: yellow;
}

.elixirs a:link {
  color: #007e7e;
}

.elixirs a:visited {
  color: #333333;
}

.elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}